<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Current Time</title>
    <link rel="stylesheet"  type="text/css" href="css/<%= style %>"  >
</head>
<body>
    This is was loadded at <%= time %>
</body>
</html>