.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.row > label {
    display: block;
}

.row > input {
    display: block;
    width: 25%;
    border: 1px solid gray;
    border-radius: 2px;
}

.row > span {
    font-size: smaller;
    color: grey;
}

button {
    background-color: cornflowerblue;
    border: 0;
}